<div class="article-card">
  <div class="article-card__header">
    <img src="./images/article.jpg" alt="" />

    <div class="article-card__actions">
      <div class="btn btn--white btn--non-active">Природа</div>
      <div class="article-card__actions-right">
        <!-- <button class="btn btn--white article-card__actions-bookmark">Убрать из сохраненных</button> -->
        <button class="btn btn--white article-card__actions-delete">
          <img src="./images/svg/trash.svg" alt="" class="icon" />
        </button>
      </div>
    </div>
  </div>
  <div class="article-card__body">
    <div class="article-card__date">2 августа, 2019</div>
    <h2 class="article-card__title">Национальное достояние – парки</h2>
    <div class="article-card__content">
      В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
    </div>
    <div class="article-card__category">Дзен</div>
  </div>
</div>
